<h1>SALON MANAGEMENT SYSTEM version 0.1.7</h1>

<h5>
  <% if @stylists.any?() %>
  <h4>(click on a stylist below to view profile and respective clients):</h4>
  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a>

    </li>
    <% end %>
  </ul>
</h5>
  <% else %>
  <p>(no stylists to view)</p>
  <% end %>

<br>
<a href="/stylists/new">ADD A STYLIST</a>
