<h1>SALON MNGMT SYSTEM</h1>

<h5>LIST OF STYLISTS (and respective clients):</h5>

#stylist list (clickable links to stylist info page, where owner can view/add/update/delete stylist)
  #under each stylist will be a list of their clients (each a clickable link where ownere can view/add/update/delete)
