<h3>ADD A STYLIST</h3>

<form action="/stylists" method="post">
  <label for="stylist_name">NAME</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="submit">ADD</button>
</form>
<br>
<br>
<a href="/">GO BACK</a>
